USE [GunzDB]
GO

BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Account ADD
        Coins int NOT NULL
GO
COMMIT

ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [DF_Account_Coins]  DEFAULT ((0)) FOR [Coins]
GO
